<!DOCTYPE HTML>

<html lang="en">
<head>
    <title>Sahil's Portfolio</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="../static/assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="icon fa-gem"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Sahil Bhatia</h1>
                <p>Python Developer</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="https://twitter.com/itssahillwhat">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/sahil-bhatia-140610250/">Linkedin</a></li>
                <li><a href="https://github.com/itssahillwhat">Github</a></li>
                <li><a href="mailto:bhatiasahil1515@gmail.com">Mail</a></li>
            </ul>
        </nav>
    </header>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; The Bloodline: 2024.</p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>
